{% load static  %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>XpressLogistics</title>
  <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="shortcut icon" href="{% static 'images/XLS.png' %}" />
  <style>

  </style>
</head>

<body>
  <div class="container-fluid primary-bg-color">
    <div class="col-md-6 offset-md-3 col-sm-12">
      <nav class="navbar" id="navigation-bar">
        <a class="navbar-brand text-light" href="#">
          <img src="{% static 'images/XLS.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
          <small class="d-inline-block " style="margin-top: 8px;">Xpress Logistics</small>
        </a>
      </nav>
    </div>
  </div>
  {% block content %}
  if you are seeing this message, you are in the wrong place
  {% endblock content%}

  <footer>
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-md-6 offset-md-3 col-sm-12">
          <p class="pt-4">08107518211(Whatsapp) | 0906655886 | 0879955668</p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-6 offset-md-3 col-sm-12">
          <p class="pt-4">Copyright © 2020 XpressLogistics</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="{% static 'lib/jquery/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script>
    $(document).ready(function(){
      $('#myModal').modal({keyboard: false, backdrop:'static'})
    })
  </script>
  {% block script %}
  {% endblock script %}
</body>

</html>