{% extends "web/base.html" %}
{% load static  %}

{% block content %}
<style>

</style>
<div class="container-fluid">
    <!-- modal section -->
    {% if success %}
    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header primary-bg-color">
                    <h5 class="modal-title secondary-text-color">You are doing well!!</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> -->
                </div>
                <div class="modal-body">
                    <p>
                        Your request has been made successfully. You will be called shortly to confirm your request.
                        Thank you for using <span class="secondary-text-color">Xpress Logistics Service</span>.
                    </p>
                </div>
                <div class="modal-footer primary-bg-color">
                    <button type="button" class="btn secondary-btn-color" data-dismiss="modal"
                        id="modal-dismiss">Ok</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- modal section -->
    <section style="border: none;">
        <div class="row primary-bg-color text-white text-center py-3">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <h1 class="bolder-text"> <strong>Your one stop to errands in Ibadan city!</strong></h1>
                <h3>What are you waiting for?</h3>
            </div>
            <div class="col-md-6 offset-md-3 col-sm-12 mb-4 mt-4">
                <a href="#sendus" class="btn secondary-btn-color" style="border-radius: 0px; width: 150px;"> Send Us</a>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="row py-3 text-center diagonal">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <h2 class="text-center mt-4 mb-5"><strong>Our Services</strong></h2>
                <div class="row mt-3 mb-4">
                    <div class="col-sm-12 col-md-4">
                        <!-- <i class="d-block"></i> -->
                        <img src="{% static 'images/pickup.png' %}" width="150" height="150" class="mb-2">
                        <p>We offer all sorts of pickup services</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <!-- <i class="d-block"></i> -->
                        <img src="{% static 'images/delivery.png' %}" width="150" height="150" class="mb-2">
                        <p>We offer express delivery services</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <!-- <i class="d-block"></i> -->
                        <img src="{% static 'images/errand.png' %}" width="150" height="150" class="mb-2">
                        <p>We run errand services</p>
                    </div>
                    <!-- <div class="col-sm-12 col-md-3">
                        <i class="d-block"></i>
                        <p>We run all sorts of pickup and delivery services including food and parcels</p>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <i class="d-block"></i>
                        <p>We run all sorts of pickup and delivery services including food and parcels</p>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <section id="sendus">
        <div class="row primary-bg-color text-white py-3">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <h2 class="text-center mt-4 mb-5"><strong>Send Us</strong></h2>
                <form action="" method="POST" id="form">
                    {% csrf_token %}
                    <div class="form-check form-check-inline mb-3">
                        <input class="form-check-input select-option" type="radio" id="pickup" value="pickup"
                            name="{{form.errand_type.name}}">
                        <label class="form-check-label" for="pickup">Pick Up</label>
                    </div>
                    <div class="form-check form-check-inline mb-3">
                        <input class="form-check-input select-option" type="radio" id="delivery" value="delivery"
                            name="{{form.errand_type.name}}" checked>
                        <label class="form-check-label" for="delivery">Delivery</label>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Full name"
                                name="{{form.name.name}}" value="{{form.name.value | default:''}}">
                            <em class="secondary-text-color">
                                {{ form.name.errors | striptags}}
                            </em>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="email@email.com"
                                name="{{form.email.name}}" value="{{form.email.value | default:''}}">
                            <em class="secondary-text-color">
                                {{ form.email.errors | striptags}}
                            </em>
                        </div>
                    </div>
                    <div class="form-row" id="pickup-info" style="display: none;">
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="pickup-address">Pick up Address</label>
                            <textarea type="text" class="form-control" id="pickup-address"
                                name="{{form.sender_address.name}}">{{form.sender_address.value | default:''}}</textarea>
                            <em class="secondary-text-color">
                                {{ form.sender_address.errors | striptags}}
                            </em>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="sender-number">Sender's Number</label>
                            <input type="text" class="form-control" id="sender-number" placeholder="0702255665"
                                name="{{form.sender_number.name}}" value="{{form.sender_number.value | default:''}}">
                            <em class="secondary-text-color">
                                {{ form.sender_number.errors | striptags}}
                            </em>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="delivery-address">Delivery Address</label>
                            <textarea type="text" class="form-control" id="delivery-address"
                                name="{{form.receiver_address.name}}">{{form.receiver_address.value | default:''}}</textarea>
                            <em class="secondary-text-color">
                                {{ form.receiver_address.errors | striptags}}
                            </em>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="receiver-number">Receiver's Number</label>
                            <input type="text" class="form-control" id="receiver-number" placeholder="08107518245"
                                name="{{form.receiver_number.name}}"
                                value="{{form.receiver_number.value | default:''}}">
                            <em class="secondary-text-color">
                                {{ form.receiver_number.errors | striptags}}
                            </em>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="package-description">Package Description</label>
                            <textarea type="text" class="form-control" id="package-description"
                                name="{{form.package_description.name}}">{{form.package_description.value | default:''}}</textarea>
                            <em class="secondary-text-color">
                                {{ form.package_description.errors | striptags}}
                            </em>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="landmark">Landmark</label>
                            <input type="text" class="form-control" id="landmark" placeholder="University of Ibadan"
                                name="{{form.landmark.name}}" value="{{form.landmark.value | default:''}}">
                            <em class="secondary-text-color">
                                {{ form.landmark.errors | striptags}}
                            </em>
                        </div>
                    </div>

                    <div class="form-row mb-3 mt-4">
                        <div class="form-group col-12">
                            <button type="submit" class="btn secondary-btn-color float-right">Send us</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock content%}
{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function () {

        togglePickupInfo()
        var x = document.querySelectorAll('.select-option')
        for (i = 0; i < x.length; i++) {
            x[i].addEventListener('change', function () {
                togglePickupInfo()
            });
        }
        var dismissBtn = document.getElementById('modal-dismiss')
        if (dismissBtn) {
            document.getElementById('modal-dismiss').addEventListener('click', function () {
                window.location.href = window.location.href
            })
        }



        function togglePickupInfo() {
            if (document.getElementById('pickup').checked) {
                document.getElementById('pickup-info').style.display = 'flex'
            } else {
                document.getElementById('pickup-info').style.display = 'none'
            }
        }
    });
</script>
{% endblock script %}