@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}
 * {
    font-family: montserrat, 'Times New Roman', Times, serif;
}
body{
    min-height: 100%;
}

footer > div{
   
    background-color: whitesmoke;
    height: 70px;
}

.primary-bg-color{
    background-color: #00438B;
}

.secondary-btn-color{
    background-color: #FF8000;
    color: white;
    border-radius: 0;
}

.secondary-btn-color:hover{
    color: white;
    background-color: transparent;
    border: 1px solid #FF8000;
}

.secondary-text-color{
    color: #FF8000;
}

#navigation-bar{
    color: white;
    padding: 2px 0;
    border: none;
}

.navbar{
    border: none;
}

.bolder-text{
    font-weight: bolder;
}

.x-logo{
    color: #FF8000;
    /* font-weight: bolder; */
    /* font-size: larger; */
} 

textarea.form-control{
    height: calc(1.5em + .75rem + 2px);
}